* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

h1, h2, h3, h4 {
    margin: 10px;
}


/* GAME BUTTONS */
.button {
    font-size: 18px;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: orange;
}

.button:hover {
    cursor: pointer;
    background-color: blue;
    box-shadow: 2px 2px 2px rgba(99, 176, 248, 0.5);
}

.question {
    text-align: center;
}