html {
	margin-bottom: 0px;
}

@font-face {
	font-family: SourceSansPro-Light;
	src: url(../fonts/SourceSansPro-Light.otf) format("opentype");
}

body {
	font-family: SourceSansPro-Light;
	margin: 0px;
	min-height: 100%;
	width: 100%;
}

header {
	height: 115px;
	position: relative;
	width: 100%;
}

.header_footer {
	background-color: #0077b5;
	color: white;
}

.introduction {
	/* border: 1px dashed black; */
	display: inline-block;
	float: left;
	height: 100px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.introduction h1 a {
	/* border: 1px dashed black; */
	text-decoration: none;
}

#tagline {
	margin-bottom: 0px;
}

.social_media {
	position: absolute;
	right: 0px;
	top: 5px;
	margin-right: 10px;
}

.icon_sizing {
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

#icon_linkedin {
	background-image: url('../imgs/social-media/icon-linkedin.png');
}

#icon_linkedin:hover {
	background-image: url('../imgs/social-media/icon-black-linkedin.png');
}

#icon_github {
	background-image: url('../imgs/social-media/icon-github.png'); 
}

#icon_github:hover {
	background-image: url('../imgs/social-media/icon-black-github.png'); 
}

#icon_facebook {
	background-image: url('../imgs/social-media/icon-facebook.png'); 
}

#icon_facebook:hover {
	background-image: url('../imgs/social-media/icon-black-facebook.png'); 
}

#icon_twitter {
	background-image: url('../imgs/social-media/icon-twitter.png'); 
}

#icon_twitter:hover {
	background-image: url('../imgs/social-media/icon-black-twitter.png'); 
}

.social_media a {
	display: inline-block;
	vertical-align: middle;
}

.social_media form {
	vertical-align: middle;
	display: inline-block;
}

.navbar {
	/* border: 1px dashed black; */
	position: absolute;
	right: 0px;
	bottom: 0px;
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
}

.navbar a {
	display: inline-block;
	margin-right: 5px;
	/* border: 1px dashed black; */
	border: 1px solid #0077b5;
	padding: 5px;
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	border: 1px solid white;
}

.navbar a:active {
	background-color: black;
	color:white;
}

main {
	text-align: center;
	/* border: 1px dashed black; */
	margin: 5px;
	height: 100%;
	position: relative;
}

#profile_picture {
	border-radius: 50%;
}

footer {
	font-weight: bold;
	/* border: 1px	dashed black; */ 
	height: 55px;
	width: 100%;
	position: relative;
	bottom: 0px;
}

#copyright {
	/* border: 1px dashed	black; */
	margin-left: 10px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
	width: 25%;
}

.footerbar {
	/* border: 1px dashed black; */
	float: left;
	display: inline-block;
	margin: 16px;
}

.footerbar a {
	text-decoration: none;
	color: white;
	margin-left: 10px;
	padding: 3px;
	margin-bottom: 5px;
	border: 1px solid #0077b5;
}

.footerbar a:hover {
	border: 1px solid white;
}

#design_by {
	/* border: 1px dashed black; */
	float: right;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 10px;
}
